.login_form #user_error,
.login_form #email_error,
.login_form #pass_error,
.login_form #confirm_error, 
.login_form #addr1_error,
.login_form #addr2_error,
.login_form #phone_error,
.login_form1 #pass_error1{
	margin-top: 5px;
	width: auto;
	font-size: 18px;
	color: #C62828;
	background: rgba(255, 0, 0, 0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}	